extends layout

block content
    div
        h1#title Visitors
        table#customers
            thead
                tr
                    th No
                    th Ip
                    th Country
                    th State
                    th City
                    th Name
                    th Date
            tbody
            each visitor, i in visitors
                tr
                    td #{i + 1}
                    td #{visitor.ip}
                    td #{visitor.country}
                    td #{visitor.state}
                    td #{visitor.city}
                    td #{visitor.name}
                    td #{visitor.visited_on}
                    

